function Main.main 1
call GameManagar.new 0
pop local 0
push local 0
call GameManagar.setup 1
pop temp 0
push local 0
call GameManagar.run 1
pop temp 0
push local 0
call GameManagar.dispose 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
return
